mixin s-interactive-map()
	// start s-interactive-map
	+b.s-interactive-map
		+e.nav-block
			+e.BUTTON.zoom--up +
			+e.BUTTON.zoom--down -
		+e.info-block--info Нажмите на интересующий участок что бы посмотреть инфрмацио о нем
		+e.info-block--main.disabled
			+e.info-title
			+e.info-status
			+e.info-inner--js
		+e.map-wrap
			img(src='img/map-new.jpg' alt='')
			+e.SVG.svg-main(viewBox='0 0 640 556.79999')
				mixin map-i(i, d, square, status='', price='30000')
					path(data-number=i class=`s-interactive-map__path` d=d data-status=`${status}`, data-square=`${square}` data-price=`${price}`)
				+map-i('1','m 395.58463,155.80634 18.34344,26.58022 14.87885,-10.21515 -25.01255,-36.59758 z','6.67','','50000')
				+map-i('2','m 413.92807,182.38656 21.1521,30.80633 14.87884,-10.45645 -21.15209,-30.56503 z','6.68','sell','50000')
				+map-i('3','m 435.08017,213.19289 21.55422,31.36936 14.87157,-10.89319 -21.54695,-30.93262 z','6.82','','50000')
				+map-i('4','m 456.63439,244.56225 20.87135,30.3985 15.75296,-11.40356 -21.75274,-29.88813 z','6.96','reserved','50000')
				+map-i('5','M 477.50574,274.96075 496.7562,302.6023 513.41909,291.28405 493.2587,263.55719 Z','6.69','','50000')
				+map-i('6','m 496.7562,302.6023 17.23159,24.99683 17.11784,-10.977 c -5.10907,-8.77855 -11.7632,-16.90023 -17.68654,-25.33808 z','6.23','','50000')
				+map-i('7','m 513.98779,327.59913 17.80028,25.73621 16.23636,-10.37979 -16.9188,-26.33342 z','6.19','','50000')
				+map-i('8','m 531.78807,353.33534 14.75774,27.81218 18.79551,-8.75884 -3.69654,-8.27541 -13.62035,-21.15772 z','6.7','','50000')
				+map-i('9','m 546.54581,381.14752 14.35966,27.12966 16.94723,-7.76351 c -4.00524,-9.375 -8.29278,-18.75 -12.51138,-28.12499 z','6.03','')
				+map-i('10','m 560.90547,408.27718 17.51593,33.0163 14.53026,-6.96726 c -4.91066,-11.51553 -10.05333,-22.567 -15.09896,-33.81255 z','6.43','')
				+map-i('11','m 578.4214,441.29348 19.44951,36.08757 3.63968,2.7016 8.90014,1.67783 -6.11352,-22.15305 -11.34555,-25.28121 z','6.43','')
				+map-i('12','m 565.13939,435.68412 13.8132,25.61831 -1.00533,3.68992 -1.27676,0.72391 -11.24962,-0.66358 -20.66451,-5.16791 3.58399,-14.2067 z','6.27','')
				+map-i('13','m 548.34036,445.67807 -19.60891,-23.68789 -9.62537,31.62398 25.65029,6.27061 z','6.14','')
				+map-i('14','m 528.73145,421.99018 23.07483,-11.48063 13.33311,25.17457 -16.79903,9.99395 z','6.63','')
				+map-i('15','m 528.73145,421.99018 -11.55895,-18.05687 23.39486,-14.60281 11.23892,21.17905 z','6','')
				+map-i('16','m 517.1725,403.93331 -11.07541,-17.62433 21.98733,-15.26399 3.14206,0.74649 9.34088,17.53902 z','6.05','')
				+map-i('17','m 528.73145,421.99018 -21.34813,0.88478 -16.68844,-25.73393 15.40221,-10.83205 z','6.73','')
				+map-i('18','m 507.38332,422.87496 21.34813,-0.88478 -9.62537,31.62398 -19.62212,-4.82931 z','6.01','')
				+map-i('19','m 499.48396,448.78485 -24.85015,-6.0837 2.38854,-18.4277 30.36097,-1.39849 z','6.24','')
				+map-i('20','m 507.38332,422.87496 -16.68844,-25.73393 -22.49923,15.62937 8.8267,11.50305 z','6','')
				+map-i('21','m 477.02235,424.27345 -2.38854,18.4277 -31.48105,-7.66754 0.10662,-4.95529 24.93627,-17.30792 z','6.01','')
				+map-i('22','m 601.18038,502.61548 -8.01745,-15.17427 -3.52721,-3.07239 -26.24577,-10.59014 -14.93669,-3.62435 -6.70227,26.16807 51.76317,4.41767 z','11.04','')
				+map-i('23','m 548.45326,470.15433 -20.47761,-5.0517 -7.3669,29.33063 21.14224,1.88914 z','6','')
				+map-i('24','m 527.97565,465.10263 -18.62967,-4.60051 -7.92508,32.21806 1.52368,0.22759 17.66417,1.48549 z','6.03','reserved','50000')
				+map-i('25','m 509.34598,460.50212 -17.93285,-4.31421 -7.4947,32.46544 17.50247,4.06683 z','6.02','reserved','50000')
				+map-i('26','m 491.41313,456.18791 -17.34948,-4.21129 -7.61801,32.48125 c 5.54937,1.78339 11.57597,2.89857 17.47279,4.19548 z','600','','50000')
				+map-i('27','m 474.06365,451.97662 -17.96217,-4.47155 -7.27703,32.89092 6.03488,0.6034 11.58631,3.45848 z','6.03','','50000')
				+map-i('28','m 456.10148,447.50507 -19.34458,-4.61031 -7.60827,33.24884 18.07299,4.23754 1.60283,0.0148 z','6.77','','50000')
				+map-i('29','m 436.7569,442.89476 -19.60659,-4.18409 -7.60477,32.98995 19.60309,4.44298 z','6.79','','50000')
				+map-i('30','m 417.15031,438.71067 -19.67567,-4.22246 -7.44028,32.73261 19.51118,4.4798 z','6.74','','50000')
				+map-i('31','m 397.47464,434.48821 -19.54558,-4.25978 -7.4848,32.5347 19.5901,4.45769 z','6.7','','50000')
				+map-i('32','m 377.92906,430.22843 -18.05589,-3.95109 -3.7639,-0.2169 -2.56395,33.92714 7.04452,0.55412 9.85442,2.22143 z','6.58','','50000')
				+map-i('33','m 356.10927,426.06044 -19.92791,-1.35837 -2.69363,33.779 20.05759,1.50651 z','6.77','','50000')
				+map-i('34','m 336.18136,424.70207 -20.05511,-1.36303 -2.56381,33.55284 19.92529,1.58919 z','6.75','','50000')
				+map-i('35','m 316.12625,423.33904 -19.96663,-1.39272 -2.59167,33.4401 19.99449,1.50546 z','6.72','','50000')
				+map-i('36','m 296.15962,421.94632 -20.09282,-1.48333 -2.54658,33.36079 20.04773,1.56264 z','6.69','','50000')
				+map-i('37','m 276.0668,420.46299 -19.89693,-1.34338 -2.63054,33.3048 19.98089,1.39937 z','6.65','','50000')
				+map-i('38','m 256.16987,419.11961 -20.03654,-1.39349 -2.5469,33.15899 19.9529,1.5393 z','6.63','','50000')
				+map-i('39','m 236.13333,417.72612 -20.03533,-1.36551 -1.66219,33.40546 19.15062,1.11904 z','6.48','','50000')
				+map-i('40','m 216.098,416.36061 -20.00564,-1.40509 -1.68413,33.83055 20.02758,0.98 z','6.71','','50000')
				+map-i('41','m 196.09236,414.95552 -20.76951,-1.50333 -1.30399,34.22603 20.38937,1.10785 z','6.97','','50000')
				+map-i('42','m 175.32285,413.45219 -20.40065,-0.79764 -1.17534,34.03248 20.272,0.99119 z','6.91','','50000')
				+map-i('43','m 154.9222,412.65455 -20.20476,-1.39936 -1.0914,34.4243 20.12082,1.00754 z','6.88','','50000')
				+map-i('44','m 134.71744,411.25519 h -20.1208 l -2.26674,33.36079 21.29614,1.06351 z','7','','50000')
				+map-i('45','m 114.59664,411.25519 -18.966455,0.035 -5.591519,32.1431 22.291234,1.1827 z','6.75','reserved','50000')
				+map-i('46','m 426.29583,216.30386 -15.75123,-23.11468 -3.57362,-0.60525 -15.95813,10.9395 17.18594,25.09406 z','6.61','reserved')
				+map-i('47','m 426.29583,216.30386 15.99364,23.51048 -0.67774,3.67103 -15.20706,10.51837 -18.20588,-25.38625 z','6.65','reserved')
				+map-i('48','m 391.01285,203.52343 -16.82867,11.70187 17.15618,25.07389 16.85843,-11.6817 z','6.2','')
				+map-i('49','m 391.34036,240.29919 18.44305,25.12851 16.62126,-11.42396 -18.20588,-25.38625 z','6.3','')
				+map-i('50','m 391.34036,240.29919 -16.98798,11.55734 -17.10671,-25.16294 16.93851,-11.46829 z','6.21','')
				+map-i('51','m 391.34036,240.29919 18.44305,25.12851 -16.88161,11.68467 -18.54942,-25.25584 z','6.38','')
				+map-i('52','m 357.24567,226.69359 17.10671,25.16294 -16.8229,11.57008 -17.22232,-25.11631 z','6.22','')
				+map-i('53','m 374.35238,251.85653 18.54942,25.25584 -16.95856,11.58672 -18.41376,-25.27248 z','6.37','')
				+map-i('54','m 340.30716,238.3103 17.22232,25.11631 -16.8956,11.57273 -17.16135,-25.1317 z','6.22','')
				+map-i('55','m 357.52948,263.42661 18.41376,25.27248 -16.77667,11.6287 -18.53269,-25.32845 z','6.36','')
				+map-i('56','m 323.47253,249.86764 -15.12296,10.23141 -0.55406,3.63146 15.91478,22.9535 16.92359,-11.68467 z','6.25','sell')
				+map-i('57','m 340.63388,274.99934 18.53269,25.32845 -15.47566,10.6661 -3.33923,-0.15832 -16.64139,-24.15156 z','6.55','sell')
				+map-i('58','m 466.72473,275.23723 -16.06306,-23.4673 -3.94581,-0.74166 -14.34512,9.91185 17.97738,25.77643 z','6.25','')
				+map-i('59','m 466.77686,275.13296 -16.37661,11.47932 18.04868,26.31744 14.46795,-9.91448 0.66463,-3.52639 z','6.35','')
				+map-i('60','m 450.40025,286.61228 -16.59222,11.56723 -17.80192,-25.99221 16.41676,-11.35145 z','6.3','')
				+map-i('61','m 450.40025,286.61228 18.04868,26.31744 -16.67872,11.3978 -17.96218,-26.14801 z','6.39','')
				+map-i('62','M 433.80803,298.17951 416.00611,272.1873 399.278,283.6141 417.34936,309.72518 Z','6.38','')
				+map-i('63','m 433.80803,298.17951 17.96218,26.14801 -16.62275,11.46077 -17.7981,-26.06311 z','6.37','')
				+map-i('64','M 417.34936,309.72518 399.278,283.6141 l -16.59436,11.47376 18.02198,26.28001 z','6.41','')
				+map-i('65','m 417.34936,309.72518 17.7981,26.06311 -16.69971,11.50976 -17.74213,-25.93018 z','6.34','')
				+map-i('66','m 400.70562,321.36787 -18.02198,-26.28001 -18.18288,12.46831 18.60057,26.17602 z','6.94','')
				+map-i('67','m 400.70562,321.36787 17.74213,25.93018 -17.95279,12.27983 -17.39363,-25.84569 z','6.76','')
				+map-i('68','m 383.10133,333.73219 -18.60057,-26.17602 -15.74124,10.90803 -0.63665,3.62084 16.9615,24.29293 z','6.95','')
				+map-i('69','m 383.10133,333.73219 17.39363,25.84569 -15.40494,10.69647 -3.48269,0.01 -16.52296,-23.90627 z','6.73','')
				+map-i('70','m 508.0469,334.75277 -16.19577,-23.52177 -3.77456,-0.77676 -14.42049,9.88262 18.01993,25.88367 z','6.25','')
				+map-i('71','m 508.0469,334.75277 16.74868,24.42585 -0.55619,3.37247 -14.34658,10.07332 -18.2168,-26.40388 z','6.35','')
				+map-i('72','m 491.62388,346.3248 -18.01993,-25.88367 -16.42897,11.31738 17.90812,26.12275 z','6.31','')
				+map-i('73','m 491.62388,346.3248 18.2168,26.40388 -16.55264,11.53261 -18.20494,-26.38003 z','6.43','')
				+map-i('74','m 475.0831,357.88126 -17.90812,-26.12275 -16.69265,11.4737 18.06791,26.19649 z','6.39','')
				+map-i('75','m 475.0831,357.88126 18.20494,26.38003 -16.60085,11.49597 -18.13695,-26.32856 z','6.44','')
				+map-i('76','m 440.48233,343.23221 18.06791,26.19649 -16.57774,11.60028 -18.10593,-26.34999 z','6.43','')
				+map-i('77','m 458.55024,369.4287 18.13695,26.32856 -16.63801,11.58902 -18.07668,-26.3173 z','6.43','')
				+map-i('78','m 423.86657,354.67899 18.10593,26.34999 -17.79399,12.5039 -18.5908,-26.42949 z','7','')
				+map-i('79','m 441.9725,381.02898 18.07668,26.3173 -17.64593,12.33904 -18.22474,-26.15244 z','6.85','')
				+map-i('80','m 405.58771,367.10339 -15.54099,10.66431 -0.63569,4.15837 16.76238,24.17248 18.0051,-12.56567 z','6.99','')
				+map-i('81','m 424.17851,393.53288 -18.0051,12.56567 16.42687,23.85211 3.67296,0.99356 16.13001,-11.2589 z','6.97','')
				+map-i('82','m 269.9312,173.05289 13.44594,13.04159 -22.51872,22.68919 -13.77244,-12.21535 z','6','reserved','50000')
				+map-i('83','m 283.37714,186.09448 15.1477,14.5951 -22.60496,18.25832 -3.62401,0.0276 -11.43745,-10.19183 z','6.08','reserved','50000')
				+map-i('84','m 293.71099,212.79771 -13.20865,10.19784 -0.41978,3.20804 19.65907,25.88819 3.52243,0.60582 12.94641,-8.95301 z','6.92','reserved','50000')
				+map-i('85','m 293.71099,212.79771 9.19288,-7.92039 6.60433,-2.09905 21.12824,31.03785 -14.42597,9.92847 z','6.99','reserved','50000')
				+map-i('86','m 309.5082,202.77827 19.59609,-6.31811 18.63821,25.71142 -17.10606,11.64454 z','6.96','','50000')
				+map-i('87','m 329.10429,196.46016 25.52937,-8.30258 13.29752,20.10166 -20.18868,13.91234 z','6.99','','50000')
				+map-i('88','m 354.63366,188.15758 1.65751,-0.48542 19.68005,-15.85477 14.496,21.00815 -22.53604,15.4337 z','6.63','','50000')
				+map-i('89','m 375.97122,171.81739 19.61341,-16.01105 15.74492,22.89591 -20.86233,14.12329 z','6.69','','50000')
				+map-i('90','m 214.77221,216.8085 30.97314,-9.15285 -20.47029,-18.08036 -4.11371,-0.92357 -15.24426,4.19114 z','6.37','')
				+map-i('91','m 214.77221,216.8085 30.97314,-9.15285 15.20286,13.32832 -35.61368,9.8725 -5.60543,-0.0664 z','6.14','')
				+map-i('92','m 225.33453,230.85647 -0.0105,11.92256 55.96886,-0.021 -8.4583,-11.29285 -11.88638,-10.48122 z','8.4','')
				+map-i('93','m 281.29288,242.75801 12.70051,16.70776 -0.005,5.23444 -40.412,-0.0643 0.14479,-21.84637 z','7.7','')
				+map-i('94','m 253.72111,242.78953 -28.39709,-0.0105 -0.005,21.93108 28.25712,-0.0742 z','6.15','')
				+map-i('95','m 225.33453,230.85647 -20.44147,-0.0219 -0.0187,33.84441 20.44454,0.031 z','6.89','')
				+map-i('96','m 219.7291,230.79011 -27.09964,0.0593 -8.84028,-31.89153 22.12791,-6.1151 z','8.94','')
				+map-i('97','m 204.89306,230.83462 -19.25866,-0.0148 0.0217,33.85225 19.21829,0.007 z','6.46','')
				+map-i('98','m 192.62946,230.84945 -26.25371,-0.0247 -6.77315,-25.25474 24.18658,-6.61208 z','7.42','')
				+map-i('99','m 185.6344,230.8198 -19.25865,0.005 0.006,33.80531 19.27429,0.042 z','6.46','')
				+map-i('100','m 166.37575,230.82475 -25.16041,6.28331 -6.69329,-24.57914 25.08055,-6.95891 z','6.67','')
				+map-i('101','m 166.38209,264.63018 -0.006,-33.80531 -25.16041,6.28319 5.06077,18.11276 v 9.44971 z','6.75','')
				+map-i('102','m 134.52205,212.52892 -25.43835,6.97173 7.24097,24.46084 24.89067,-6.85343 z','6.63','')
				+map-i('103','m 146.27611,264.67053 v -9.44971 l -5.06077,-18.11276 -24.89067,6.85343 8.70905,20.67935 z','6.01','')
				+map-i('104','m 116.32467,243.96149 -7.24097,-24.46084 -23.358808,6.46071 7.131335,25.86105 z','6.36','')
				+map-i('105','m 125.03372,264.64084 -8.70905,-20.67935 -28.314269,9.57719 9.864305,22.77824 z','7','')
				+map-i('106','m 92.856227,251.82241 -7.131335,-25.86105 -16.770867,4.58025 -2.518595,3.21853 -0.399578,27.07114 z','6.56','reserved')
				+map-i('107','m 97.874706,276.31692 -9.864305,-22.77824 -21.974549,7.2926 -0.181099,11.80313 5.419962,12.47421 3.151241,1.1874 z','5.93','reserved')
				+map-i('108','m 97.177181,402.26521 34.158999,-0.0148 2.09259,-2.09774 0.0644,-17.40943 -34.604275,0.0388 -0.900977,15.02534 z','6.64','','50000')
				+map-i('109','m 133.49312,382.74322 -0.41627,-18.88091 -33.172043,1.088 -1.015962,17.83173 z','6.17','','50000')
				+map-i('110','m 99.904807,364.95031 0.176263,-2.87357 -3.457439,-9.55626 30.636229,-11.28752 4.84064,10.01867 0.97635,12.61068 z','6.05','','50000')
				+map-i('111','m 96.623631,352.52048 -5.28885,-14.29065 -1.259509,-2.36525 29.908368,-12.57327 7.27622,17.94165 z','6','','50000')
				+map-i('112','m 90.075272,335.86458 -8.136468,-16.05068 31.024246,-13.48549 7.02059,16.9629 z','6','','50000')
				+map-i('113','m 112.96305,306.32841 -8.47579,-20.24613 -3.23221,-1.27342 -21.541011,9.2008 9.379755,22.66395 z','6.32','')
				+map-i('114','m 89.093794,316.67361 -9.379755,-22.66395 -33.243554,13.78815 2.327756,5.47057 33.140563,6.54552 z','6.17','','50000')
				+map-i('115','m 46.470485,307.79781 -12.476326,-28.8884 22.80063,-4.53279 10.72021,24.74824 z','6.59','','50000')
				+map-i('116','m 56.794789,274.37662 -22.80063,4.53279 -0.0066,-30.09213 23.133891,0.0213 z','6.37','','50000')
				+map-i('117','m 33.987479,248.81728 -0.01805,-32.553 23.64741,8.02568 -0.495466,24.5486 z','6.65','','50000')
				+map-i('118','m 33.969426,216.26428 0.05439,-6.59996 38.131439,-10.47383 5.491168,19.54754 -20.029616,5.55193 z','6.89','sell','50000')
				+map-i('119','m 72.155284,199.19049 29.050796,-8.0549 5.44955,19.59739 -29.009178,8.00505 z','6.09','sell','50000')
				+map-i('120','m 101.20608,191.13559 30.9711,-8.47467 5.44169,19.5228 -30.96324,8.54926 z','6.5','','50000')
				+map-i('121','m 132.17718,182.66092 28.99928,-7.6983 5.01626,19.35459 -28.57385,7.86651 z','6.02','','50000')
				+map-i('122','m 161.17646,174.96262 29.49893,-7.72798 5.02121,18.939 -29.50388,8.14357 z','6.04','','50000')
				+map-i('123','m 190.67539,167.23464 30.96819,-8.07925 4.86979,18.65827 -30.81677,8.35998 z','6.19','','50000')
				+map-i('124','m 226.51337,177.81366 6.19855,6.15719 23.74479,-23.9011 -8.18839,-8.00412 -26.62474,7.08976 z','6.01','sell','50000')
				+map-i('125','m 232.71192,183.97085 14.37406,12.59747 22.84522,-23.51543 -13.47449,-12.98314 z','6.26','sell','50000')
				+map-i('126','m 294.00823,273.68981 h 9.6219 l 21.28693,30.73381 -30.92973,0.0253 z','6.25','')
				+map-i('127','m 324.91706,304.42362 15.90572,22.93284 -1.21733,3.13457 -21.41858,4.76132 -7.83215,0.0175 0.0627,-30.86106 z','6.92','')
				+map-i('128','m 294.00823,273.68981 -19.59251,-0.0129 -0.0273,30.77142 19.59887,5.3e-4 z','6','')
				+map-i('129','m 310.41741,304.40877 -0.0627,30.86106 -19.99737,0.006 0.0148,-30.81298 z','6.15','')
				+map-i('130','m 274.41572,273.67696 -19.52338,0.008 -0.003,30.80603 19.49885,-0.0425 z','6','')
				+map-i('131','m 290.37217,304.46319 -20.09814,-0.007 -0.0609,30.8277 20.14417,-0.007 z','6.16','')
				+map-i('132','m 254.89234,273.68487 -19.59885,0.013 -0.0135,30.73806 19.60982,0.0549 z','6','')
				+map-i('133','m 270.27403,304.45591 h -20.00218 l -0.0593,30.81532 20.00069,0.0124 z','6.15','')
				+map-i('134','m 235.29349,273.69792 -19.48736,0.007 -0.0297,30.79318 19.50355,-0.0619 z','6','')
				+map-i('135','m 250.27185,304.45591 -0.0593,30.81532 -20.12441,0.099 0.0495,-30.91193 z','6.15','')
				+map-i('136','m 215.80613,273.70463 -19.64452,-0.0396 -0.0198,30.78329 19.63461,0.0495 z','6','')
				+map-i('137','m 230.13756,304.45825 -0.0495,30.91193 -20.0016,0.0186 0.0629,-30.9049 z','6.16','')
				+map-i('138','m 196.16161,273.66505 -19.47452,0.0259 -0.0414,30.76238 19.49614,-0.005 z','6','')
				+map-i('139','m 210.14945,304.48389 -0.0629,30.9049 -19.99488,-0.028 0.005,-30.92234 z','6.16','')
				+map-i('140','m 176.68709,273.69095 -19.56717,0.0137 -0.005,30.73877 19.53076,0.01 z','6','')
				+map-i('141','m 190.0967,304.43846 -0.005,30.92234 -20.10952,-5.2e-4 0.0297,-30.91192 z','6.16','')
				+map-i('142','m 157.11992,273.70463 -0.005,30.73877 -19.55535,0.0346 0.0148,-30.78329 z','6','')
				+map-i('143','m 170.01181,304.44836 -0.0297,30.91192 -20.04522,0.0396 -0.003,-30.96845 z','6.16','')
				+map-i('144','m 137.57433,273.69475 -0.0148,30.78329 -15.45442,0.01 -9.22119,-22.0015 1.32095,-3.26803 12.65596,-5.51349 z','6.13','reserved')
				+map-i('145','m 149.93372,304.43141 0.003,30.96845 -12.55547,-0.01 -3.37386,-2.34511 -11.90247,-28.55696 z','6.58','')
				+map-i('146','m 319.09986,344.40068 12.21861,21.33225 26.56536,-13.57097 -8.39999,-12.21535 -3.87922,-1.5177 z','6','')
				+map-i('147','m 331.31847,365.73293 10.40848,18.1474 26.77942,-16.24674 -10.62254,-15.47163 z','6.04','')
				+map-i('148','m 341.72695,383.88033 9.81978,17.31127 27.03753,-19.01514 -10.07789,-14.54287 z','6.01','')
				+map-i('149','m 351.54673,401.1916 9.23594,16.08085 27.73957,-20.69656 -9.93798,-14.39943 z','6.07','')
				+map-i('150','m 360.78267,417.27245 38.71529,8.33007 6.12933,-4.31916 -17.10505,-24.70747 z','6.26','')
				+map-i('151','m 360.78267,417.27245 -33.1695,-2.1784 -0.027,-37.64744 10.45219,-0.035 z','8.26','')
				+map-i('152','m 338.03832,377.41165 -29.69865,0.0419 -0.0208,-33.07384 10.78101,0.021 z','6.64','')
				+map-i('153','m 327.58613,377.44661 -19.24646,0.007 -0.007,36.1806 19.28032,1.45994 z','7.07','')
				+map-i('154','m 308.31884,344.37967 -19.76715,-0.0149 0.0198,32.49018 19.76819,0.59862 z','6.45','')
				+map-i('155','m 288.57145,376.8549 -0.0621,35.46031 19.82346,1.3189 0.007,-36.18059 z','7.05','')
				+map-i('156','m 288.55169,344.36472 -20.02048,0.005 0.0346,31.91627 20.00561,0.56897 z','6.42','')
				+map-i('157','m 268.56585,376.28606 -0.009,34.68226 19.95292,1.34689 0.062,-35.46018 z','6.99','')
				+map-i('158','m 268.53121,344.36979 -20.63074,0.0239 0.0166,31.33812 20.64877,0.55425 z','6.49','')
				+map-i('159','m 247.91706,375.73179 -0.10882,33.73201 20.74823,1.50452 0.009,-34.68226 z','6.03','')
				+map-i('160','m 247.90047,344.39367 -21.25417,-0.014 -0.0211,30.75842 21.29185,0.59368 z','6.56','')
				+map-i('161','m 247.91706,375.73179 -21.29185,-0.5937 -0.50362,32.87758 21.68665,1.44813 z','7.13','')
				+map-i('162','m 226.6463,344.37967 -20.1313,0.028 0.006,30.12189 20.10459,0.60852 z','6.06','')
				+map-i('163','m 226.62529,375.13807 -20.10459,-0.60852 -0.98866,32.02378 20.58955,1.46234 z','6.59','')
				+map-i('164','m 206.515,344.40766 -20.46712,2e-5 -0.014,29.8204 20.48681,0.30147 z','6.09','')
				+map-i('165','m 186.03389,374.22808 -1.15143,30.92151 20.64958,1.40374 0.98866,-32.02378 z','6.42','')
				+map-i('166','m 186.04788,344.40768 -20.98132,0.028 0.021,29.96034 20.94634,-0.16793 z','6.23','')
				+map-i('167','m 165.08758,374.39601 -1.28033,29.28863 21.07521,1.46495 1.15143,-30.92151 z','6.32','reserved')
				+map-i('168','m 165.06656,344.43567 -20.06484,-0.028 -2.53959,2.55384 -0.007,27.41349 22.63244,0.021 z','6.69','')
				+map-i('169','m 142.45511,374.37501 -0.014,25.36343 3.00133,2.72876 18.36478,1.21744 1.28033,-29.28863 z','6.21','')
				//- +map-i('','','','')
	// end s-interactive-map