mixin s-interactive-map()
	// start s-interactive-map
	+b.SECTION.s-interactive-map
		+e.info-block--info Нажмите на интересующий участок что бы посмотреть инфрмацио о нем
		+e.info-block--main.disabled
			+e.info-title
			+e.info-status
			+e.info-inner--js
		+e.map-wrap
			img(src='img/map.jpg' alt='')
			+e.SVG.svg-main(viewBox='0 0 949.76001 609.28003')
				mixin map-i(i, d, status, square, price)
					path(data-number=i class=`s-interactive-map__path` d=d data-status=status, data-square=square data-price=price)
				+map-i('1','m 585.39022,44.905662 28.96873,41.97239 23.49729,-16.130574 -39.50085,-57.790639 z', 'sell', '6.5', '50000')
				+map-i('2','M 614.35895,86.878052 647.76321,135.5238 671.2605,119.01219 637.85624,70.747478 Z', 'reserved', '7.2', '70000')
				+map-i('3','m 647.76321,135.5238 34.03932,49.53483 23.48581,-17.20126 -34.02784,-48.84518 z', '', '8.9', '20000')
				+map-i('4','m 681.80253,185.05863 32.9609,48.00176 24.87774,-18.00717 -34.35283,-47.19585 z')
				+map-i('5','m 714.76343,233.06039 30.40113,43.6483 26.31472,-17.87245 -31.83811,-43.78302 z')
				+map-i('6','m 745.16456,276.70869 27.21284,39.47208 27.0332,-17.33359 c -8.06845,-13.86206 -18.57693,-26.68688 -27.93132,-40.01094 z')
				+map-i('7','m 772.3774,316.18077 28.11094,40.63962 25.64113,-16.39056 -26.71887,-41.58265 z')
				+map-i('8','m 800.48834,356.82039 23.30604,43.91774 29.68264,-13.83094 -5.83773,-13.06755 -21.50982,-33.40981 z')
				+map-i('9','m 823.79438,400.73813 22.67736,42.84 26.76377,-12.25924 c -6.32523,-14.8039 -13.0963,-29.6078 -19.75849,-44.4117 z')
				+map-i('10','m 846.47174,443.57813 27.66189,52.13548 22.94679,-11.00189 c -7.75512,-18.18398 -15.87664,-35.63516 -23.84491,-53.39283 z')
				+map-i('11','m 874.13363,495.71361 30.71547,56.98528 5.74793,4.26604 14.05547,2.64944 -9.65472,-34.98151 -17.91736,-39.92114 z')
				+map-i('12','m 853.15813,486.85596 21.81438,40.45345 -1.58766,5.82669 -2.01632,1.14311 -17.76586,-1.04785 -32.63425,-8.16055 5.65999,-22.43356 z')
				+map-i('13','m 826.62841,502.63725 -30.96721,-37.40515 -15.20078,49.93689 40.508,9.90182 z')
				+map-i('14','m 795.6612,465.2321 36.44073,-18.12887 21.0562,39.75273 -26.52972,15.78129 z')
				+map-i('15','m 795.6612,465.2321 -18.25437,-28.51331 36.94613,-23.05905 17.74897,33.44349 z')
				+map-i('16','m 777.40683,436.71879 -17.49075,-27.83028 34.7233,-24.10311 4.96207,1.17877 14.75151,27.69557 z')
				+map-i('17','m 795.6612,465.2321 -33.71385,1.39713 -26.35507,-40.63602 24.3238,-17.1047 z')
				+map-i('18','m 761.94735,466.62923 33.71385,-1.39713 -15.20078,49.93689 -30.98807,-7.62589 z')
				+map-i('19','m 749.47235,507.5431 -39.24439,-9.60666 3.77208,-29.09887 47.94731,-2.20834 z')
				+map-i('20','m 761.94735,466.62923 -26.35507,-40.63602 -35.53172,24.68009 13.93948,18.16427 z')
				+map-i('21','m 714.00004,468.83757 -3.77208,29.09887 -49.71618,-12.10769 0.16839,-7.82481 39.38039,-27.33064 z')
				+map-i('22','m 910.07556,592.54615 -12.6615,-23.96143 -5.57031,-4.85157 -41.44841,-16.72271 -23.58864,-5.72315 -10.5845,41.32156 81.74655,6.97587 z')
				+map-i('23','m 826.8067,541.28729 -32.33909,-7.97705 -11.63411,46.3155 33.3887,2.98311 z')
				+map-i('24','m 794.46761,533.31024 -29.42074,-7.26459 -12.51562,50.875 2.40625,0.35938 27.896,2.34571 z')
				+map-i('25','m 765.04687,526.04565 -28.32031,-6.8125 -11.83594,51.26563 27.64063,6.42187 z')
				+map-i('26','m 736.72656,519.23315 -27.39902,-6.64997 -12.03067,51.2906 c 8.76379,2.81611 18.28125,4.57708 27.59375,6.625 z')
				+map-i('27','m 709.32754,512.58318 -28.3666,-7.06096 -11.49219,51.9375 9.53054,0.95282 18.29758,5.46124 z')
				+map-i('28','m 680.96094,505.52222 -30.54976,-7.28005 -12.01529,52.50268 28.54161,6.69143 2.53125,0.0234 z')
				+map-i('29','m 650.41118,498.24217 -30.96354,-6.60703 -12.00977,52.09388 30.95802,7.01583 z')
				+map-i('30','m 619.44764,491.63514 -31.07264,-6.66761 -11.75,51.6875 30.81287,7.07399 z')
				+map-i('31','m 588.375,484.96753 -30.86719,-6.72656 -11.82031,51.375 30.9375,7.03906 z')
				+map-i('32','m 557.50781,478.24097 -28.5146,-6.23909 -5.94411,-0.34251 -4.0491,53.57378 11.125,0.875 15.5625,3.50782 z')
				+map-i('33','m 523.0491,471.65937 -31.47098,-2.14497 -4.2539,53.33985 31.67578,2.3789 z')
				+map-i('34','m 491.57812,469.5144 -31.67187,-2.15234 -4.04887,52.98272 31.46684,2.50947 z')
				+map-i('35','m 459.90625,467.36206 -31.53212,-2.19923 -4.09288,52.8047 31.57613,2.37725 z')
				+map-i('36','m 428.37413,465.16283 -31.73142,-2.34229 -4.02167,52.67945 31.66021,2.46754 z')
				+map-i('37','m 396.64271,462.82054 -31.42206,-2.12132 -4.15425,52.59106 31.55464,2.20971 z')
				+map-i('38','m 365.22065,460.69922 -31.64253,-2.20044 -4.02217,52.36082 31.51045,2.43068 z')
				+map-i('39','m 333.57812,458.49878 -31.64062,-2.15625 -2.625,52.75 30.24345,1.76707 z')
				+map-i('40','m 301.9375,456.34253 -31.59375,-2.21875 -2.65964,53.42126 31.62839,1.54749 z')
				+map-i('41','m 270.34375,454.12378 -32.80007,-2.37388 -2.05931,54.04575 32.19974,1.74939 z')
				+map-i('42','m 237.54368,451.7499 -32.21755,-1.25954 -1.85615,53.74012 32.01439,1.56517 z')
				+map-i('43','m 205.32613,450.49036 -31.90819,-2.20971 -1.72358,54.35884 31.77562,1.59099 z')
				+map-i('44','m 173.41794,448.28065 h -31.77561 l -3.57973,52.67946 33.63176,1.67938 z')
				+map-i('45','m 141.64233,448.28065 -29.9526,0.0553 -8.83036,50.75663 35.20323,1.86758 z')
				+map-i('46','m 633.89062,140.43628 -24.875,-36.5 -5.64361,-0.95575 -25.20173,17.27439 27.14075,39.6256 z')
				+map-i('47','m 633.89062,140.43628 25.25782,37.125 -1.07032,5.79687 -24.01562,16.60938 -28.75147,-40.08701 z')
				+map-i('48','m 578.17028,120.25492 -26.57653,18.47823 27.09375,39.59375 26.62353,-18.44638 z')
				+map-i('49','m 578.6875,178.3269 29.12602,39.68001 26.24898,-18.03938 -28.75147,-40.08701 z')
				+map-i('50','m 578.6875,178.3269 -26.82813,18.25 -27.01562,-39.73437 26.75,-18.10938 z')
				+map-i('51','m 578.6875,178.3269 29.12602,39.68001 -26.66013,18.45107 -29.29402,-39.88108 z')
				+map-i('52','m 524.84375,156.84253 27.01562,39.73437 -26.56742,18.27013 -27.1982,-39.66075 z')
				+map-i('53','m 551.85937,196.5769 29.29402,39.88108 -26.78167,18.29639 -29.07977,-39.90734 z')
				+map-i('54','m 498.09375,175.18628 27.1982,39.66075 -26.68223,18.27429 -27.10191,-39.68504 z')
				+map-i('55','m 525.29195,214.84703 29.07977,39.90734 -26.49441,18.36268 -29.26759,-39.99573 z')
				+map-i('56','m 471.50781,193.43628 -23.88281,16.15625 -0.875,5.73437 25.13329,36.24549 26.72643,-18.45107 z')
				+map-i('57','m 498.60972,233.12132 29.26759,39.99573 -24.43981,16.84267 -5.27344,-0.25 -26.28077,-38.13733 z')
				+map-i('58','m 697.73762,233.49697 -25.36746,-37.05681 -6.23138,-1.17115 -22.65441,15.65164 28.39063,40.70313 z')
				+map-i('59','m 697.73762,233.49697 -25.86262,18.12681 28.50322,41.55742 22.84839,-15.65578 1.04961,-5.56847 z')
				+map-i('60','m 671.875,251.62378 -26.20313,18.26562 -28.11353,-41.04387 25.92603,-17.92488 z')
				+map-i('61','m 671.875,251.62378 28.50322,41.55742 -26.33973,17.99808 -28.36662,-41.28988 z')
				+map-i('62','m 645.67187,269.8894 -28.11353,-41.04387 -26.41772,18.04387 28.53904,41.23157 z')
				+map-i('63','m 645.67187,269.8894 28.36662,41.28988 -26.25134,18.09751 -28.10749,-41.15582 z')
				+map-i('64','m 619.67966,288.12097 -28.53904,-41.23157 -26.2065,18.11802 28.46105,41.49832 z')
				+map-i('65','m 619.67966,288.12097 28.10749,41.15582 -26.37287,18.17486 -28.01911,-40.94591 z')
				+map-i('66','m 593.39517,306.50574 -28.46105,-41.49832 -28.71516,19.6885 29.37479,41.33411 z')
				+map-i('67','m 593.39517,306.50574 28.01911,40.94591 -28.35178,19.39088 -27.46875,-40.8125 z')
				+map-i('68','m 565.59375,326.03003 -29.37479,-41.33411 -24.85922,17.22468 -1.00542,5.71762 26.7863,38.36056 z')
				+map-i('69','m 565.59375,326.03003 27.46875,40.8125 -24.32813,16.89062 -5.5,0.0156 -26.09375,-37.75 z')
				+map-i('70','m 762.91297,327.64161 -25.57703,-37.14283 -5.96094,-1.22656 -22.77344,15.60547 28.45782,40.87248 z')
				+map-i('71','m 762.91297,327.64161 26.45022,38.57046 -0.87836,5.3254 -22.65671,15.90662 -28.76874,-41.69392 z')
				+map-i('72','m 737.05938,345.75017 -28.45782,-40.87248 -25.94531,17.87109 28.28125,41.25 z')
				+map-i('73','m 737.05938,345.75017 28.76874,41.69392 -26.14062,18.21094 -28.75,-41.65625 z')
				+map-i('74','m 710.9375,363.99878 -28.28125,-41.25 -26.36172,18.11793 28.53359,41.36644 z')
				+map-i('75','m 710.9375,363.99878 28.75,41.65625 -26.21676,18.1531 -28.64262,-41.57498 z')
				+map-i('76','m 656.29453,340.86671 28.53359,41.36644 -26.18025,18.3178 -28.59363,-41.60882 z')
				+map-i('77','m 684.82812,382.23315 28.64262,41.57498 -26.27543,18.30002 -28.54744,-41.5572 z')
				+map-i('78','m 630.05424,358.94213 28.59363,41.60882 -28.101,19.7447 -29.35937,-41.73437 z')
				+map-i('79','m 658.64787,400.55095 28.54744,41.5572 -27.86719,19.48438 -28.78125,-41.29688 z')
				+map-i('80','m 601.1875,378.56128 -24.54297,16.83984 -1.00391,6.56641 26.47185,38.17035 28.4344,-19.84223 z')
				+map-i('81','m 630.54687,420.29565 -28.4344,19.84223 25.94198,37.66448 5.80049,1.5689 25.47318,-17.77873 z')
				+map-i('82','m 386.95312,72.139405 21.23438,20.59375 -35.5625,35.828125 -21.75,-19.28906 z')
				+map-i('83','m 408.1875,92.733155 23.92187,23.046875 -35.69868,28.83141 -5.72319,0.0436 -18.0625,-16.09375 z')
				+map-i('84','m 424.50714,134.89977 -20.85965,16.10325 -0.66292,5.06576 31.04641,40.87961 5.56277,0.95664 20.4455,-14.13755 z')
				+map-i('85','m 424.50714,134.89977 14.51778,-12.50695 10.42983,-3.31457 33.3666,49.01134 -22.7821,15.67789 z')
				+map-i('86','m 449.45475,119.07825 30.94697,-9.97683 29.43422,40.60048 -27.01459,18.38769 z')
				+map-i('87','m 480.40172,109.10142 40.31703,-13.110453 21,31.742183 -31.88281,21.96875 z')
				+map-i('88','m 520.71875,95.990967 2.61761,-0.766519 31.07955,-25.035999 22.89268,33.173611 -35.58984,24.37109 z')
				+map-i('89','m 554.41591,70.188449 30.97431,-25.282787 24.86503,36.154554 -32.94666,22.301844 z')
				+map-i('90','m 299.84375,141.23315 48.91406,-14.45312 -32.32753,-28.550378 -6.49654,-1.458408 -24.07436,6.618156 z')
				+map-i('91','m 299.84375,141.23315 48.91406,-14.45312 24.009,21.04653 -56.24261,15.5895 -8.85233,-0.10478 z')
				+map-i('92','m 316.5242,163.41606 -0.0166,18.82672 88.38835,-0.0332 -13.35769,-17.83235 -18.77147,-16.55072 z')
				+map-i('93','m 404.89595,182.20958 20.05717,26.38295 -0.008,8.26562 -63.82031,-0.10156 0.22866,-34.49724 z')
				+map-i('94','m 361.35347,182.25935 -44.84587,-0.0166 -0.008,34.631 44.62481,-0.11719 z')
				+map-i('95','m 316.5242,163.41606 -32.28201,-0.0345 -0.0295,53.44313 32.28687,0.049 z')
				+map-i('96','m 307.67187,163.31128 -42.79687,0.0937 -13.96094,-50.35938 34.94532,-9.65625 z')
				+map-i('97','m 284.24219,163.38156 -30.41407,-0.0234 0.0343,53.45552 30.35031,0.011 z')
				+map-i('98','m 264.875,163.40498 -41.46094,-0.039 -10.69645,-39.87935 38.19645,-10.44102 z')
				+map-i('99','m 253.82812,163.35816 -30.41406,0.008 0.01,53.3814 30.43877,0.0663 z')
				+map-i('100','m 223.41406,163.36598 -39.73437,9.92186 -10.57032,-38.8125 39.60824,-10.98871 z')
				+map-i('101','m 223.42406,216.74756 -0.01,-53.3814 -39.73437,9.92168 7.99218,28.60156 v 14.92188 z')
				+map-i('102','m 173.10937,134.47534 -40.1733,11.00893 11.43525,38.62571 39.30837,-10.82214 z')
				+map-i('103','M 191.67187,216.81128 V 201.8894 l -7.99218,-28.60156 -39.30837,10.82214 13.75368,32.65442 z')
				+map-i('104','m 144.37132,184.10998 -11.43525,-38.62571 -36.889195,10.20201 11.262105,40.83674 z')
				+map-i('105','m 158.125,216.7644 -13.75368,-32.65442 -44.71507,15.12317 15.57812,35.96875 z')
				+map-i('106','m 107.30898,196.52302 -11.262105,-40.83674 -26.485245,7.23259 -3.977476,5.08233 -0.631029,42.74758 z')
				+map-i('107','m 115.23437,235.2019 -15.57812,-35.96875 -34.703125,11.51563 -0.286,18.63813 8.559437,19.69781 4.976563,1.875 z')
				+map-i('108','m 114.13281,434.08472 53.94531,-0.0234 3.30469,-3.3125 0.10163,-27.49094 -54.6485,0.0613 -1.42286,23.72626 z')
				+map-i('109','m 171.48444,403.25788 -0.65739,-29.81453 -52.38666,1.71804 -1.60445,28.15779 z')
				+map-i('110','m 118.44039,375.16139 0.27836,-4.53761 -5.46013,-15.09012 48.382,-17.82394 7.64454,15.82031 1.54189,19.91332 z')
				+map-i('111','m 113.25862,355.53366 -8.35237,-22.56613 -1.98907,-3.73493 47.23253,-19.85423 11.49091,28.33135 z')
				+map-i('112','M 102.91718,329.2326 90.067726,303.88724 139.0625,282.59253 150.14971,309.37837 Z')
				+map-i('113','m 139.0625,282.59253 -13.38532,-31.97032 -5.10443,-2.01083 -34.018461,14.52883 14.812901,35.78826 z')
				+map-i('114','m 101.36719,298.92847 -14.812901,-35.78826 -52.499602,21.77263 3.676089,8.63849 52.33695,10.33591 z')
				+map-i('115','M 34.054687,284.91284 14.351562,239.29565 50.359261,232.138 67.289062,271.21753 Z')
				+map-i('116','m 50.359261,232.138 -36.007699,7.15765 -0.01055,-47.51798 36.533991,0.0336 z')
				+map-i('117','M 14.341012,191.77767 14.3125,140.37378 51.657465,153.047 50.875003,191.81127 Z')
				+map-i('118','m 14.3125,140.37378 0.08594,-10.42188 60.21875,-16.53906 8.671876,30.86719 -31.631598,8.76697 z')
				+map-i('119','m 74.61719,113.41284 45.87822,-12.71936 8.60615,30.94592 -45.812494,12.64063 z')
				+map-i('120','M 120.49541,100.69348 169.40625,87.31128 178,118.1394 l -48.89844,13.5 z')
				+map-i('121','M 169.40625,87.31128 215.20312,75.15503 223.125,105.71753 178,118.1394 Z')
				+map-i('122','m 215.20312,75.15503 46.58594,-12.203125 7.92969,29.90625 -46.59375,12.859375 z')
				+map-i('123','m 261.78906,62.951905 48.90625,-12.757813 7.69057,29.462958 -48.66713,13.201105 z')
				+map-i('124','m 318.38588,79.65705 9.78901,9.722719 37.49875,-37.741825 -12.93145,-12.639164 -42.04688,11.195312 z')
				+map-i('125','M 328.17489,89.379769 350.875,109.27222 386.95312,72.139405 365.67364,51.637944 Z')
				+map-i('126','m 424.97656,231.05347 h 15.19531 l 33.61719,48.53125 -48.84551,0.0399 z')
				+map-i('127','m 473.78906,279.58472 25.11897,36.21285 -1.92245,4.94975 -33.82511,7.51853 -12.36885,0.0276 0.099,-48.73219 z')
				+map-i('128','m 424.97656,231.05347 -30.94131,-0.0203 -0.0431,48.59064 30.95136,8.4e-4 z')
				+map-i('129','m 450.89062,279.56126 -0.099,48.73219 -31.58068,0.01 0.0234,-48.65625 z')
				+map-i('130','m 394.03525,231.03317 -30.83213,0.0125 -0.004,48.64528 30.79338,-0.0671 z')
				+map-i('131','m 419.23434,279.6472 -31.73982,-0.0115 -0.0961,48.6795 31.8125,-0.0117 z')
				+map-i('132','m 363.20312,231.04567 -30.95132,0.0206 -0.0213,48.53796 30.96865,0.0867 z')
				+map-i('133','m 387.49452,279.6357 h -31.58827 l -0.0937,48.65995 31.58592,0.0195 z')
				+map-i('134','m 332.2518,231.06627 -30.77524,0.0106 -0.0469,48.625 30.80081,-0.0977 z')
				+map-i('135','m 355.90625,279.6357 -0.0937,48.65995 -31.7813,0.15625 0.0781,-48.8125 z')
				+map-i('136','m 301.47656,231.07687 -31.02344,-0.0625 -0.0312,48.60938 31.00779,0.0781 z')
				+map-i('137','m 324.10935,279.6394 -0.0781,48.8125 -31.58735,0.0294 0.0994,-48.80142 z')
				+map-i('138','m 270.45312,231.01437 -30.75497,0.0409 -0.0653,48.57635 30.78911,-0.008 z')
				+map-i('139','m 292.5433,279.67988 -0.0994,48.80142 -31.57674,-0.0442 0.008,-48.82895 z')
				+map-i('140','m 239.69815,231.05527 -30.90128,0.0216 -0.008,48.53907 30.84379,0.0156 z')
				+map-i('141','m 260.87516,279.60815 -0.008,48.82895 -31.75779,-8.2e-4 0.0469,-48.8125 z')
				+map-i('142','m 208.79687,231.07687 -0.008,48.53907 -30.88262,0.0547 0.0234,-48.60937 z')
				+map-i('143','m 229.15627,279.62378 -0.0469,48.8125 -31.65625,0.0625 -0.005,-48.90176 z')
				+map-i('144','m 177.92965,231.06127 -0.0234,48.60937 -24.40625,0.0156 -14.5625,-34.74219 2.08611,-5.1605 19.98681,-8.70625 z')
				+map-i('145','m 197.44812,279.59702 0.005,48.90176 -19.82812,-0.0156 -5.32813,-3.70312 L 153.5,279.68624 Z')
				+map-i('146','m 464.6023,342.71182 19.29614,33.6854 41.95312,-21.42969 -13.26562,-19.28906 -6.12623,-2.39658 z')
				+map-i('147','m 483.89844,376.39722 16.4375,28.65625 42.29117,-25.65496 -16.77555,-24.43098 z')
				+map-i('148','m 500.33594,405.05347 15.50781,27.33593 42.69879,-30.02649 -15.91543,-22.9644 z')
				+map-i('149','m 515.84375,432.3894 14.58577,25.393 43.80748,-32.68159 -15.69446,-22.7379 z')
				+map-i('150','m 530.42952,457.7824 61.14079,13.15388 9.67969,-6.82031 -27.013,-39.01516 z')
				+map-i('151','m 530.42952,457.7824 -52.38265,-3.43987 -0.0427,-59.44844 16.50653,-0.0552 z')
				+map-i('152','m 494.5107,394.83889 -46.90133,0.0661 -0.0329,-52.22635 17.02581,0.0331 z')
				+map-i('153','m 478.00417,394.89409 -30.3948,0.0109 -0.0108,57.13217 30.44828,2.30537 z')
				+map-i('154','m 447.57647,342.67864 -31.2171,-0.0236 0.0312,51.30469 31.21875,0.94527 z')
				+map-i('155','m 416.39057,393.95973 -0.098,55.99478 31.30603,2.08265 0.0108,-57.13216 z')
				+map-i('156','m 416.35937,342.65504 -31.61718,0.008 0.0547,50.39844 31.5937,0.89845 z')
				+map-i('157','m 384.79689,393.06148 -0.0148,54.76618 31.51047,2.12685 0.098,-55.99458 z')
				+map-i('158','m 384.74219,342.66304 -32.58092,0.0377 0.0262,49.48551 32.60939,0.8752 z')
				+map-i('159','m 352.18747,392.18625 -0.17185,53.26565 32.76647,2.37576 0.0148,-54.76618 z')
				+map-i('160','m 352.16127,342.70074 -33.56547,-0.0221 -0.0333,48.5701 33.62497,0.93747 z')
				+map-i('161','m 352.18747,392.18625 -33.62497,-0.93751 -0.79534,51.91644 34.24846,2.28672 z')
				+map-i('162','m 318.5958,342.67864 -31.79218,0.0442 0.009,47.56497 31.75,0.9609 z')
				+map-i('163','m 318.56262,391.24871 -31.75,-0.9609 -1.56133,50.56822 32.51587,2.30915 z')
				+map-i('164','m 286.80362,342.72284 -32.32252,3e-5 -0.0221,47.08889 32.35362,0.47605 z')
				+map-i('165','m 254.459,389.81176 -1.81838,48.82764 32.61067,2.21663 1.56133,-50.56822 z')
				+map-i('166','m 254.4811,342.72287 -33.13458,0.0442 0.0332,47.30987 33.07933,-0.26517 z')
				+map-i('167','m 221.37972,390.07694 -2.02194,46.24919 33.28284,2.31327 1.81838,-48.82764 z')
				+map-i('168','m 221.34652,342.76707 -31.68722,-0.0442 -4.01062,4.03272 -0.0111,43.28819 35.74209,0.0332 z')
				+map-i('169','m 185.63758,390.04378 -0.0221,40.05097 4.73983,4.30893 29.00242,1.92245 2.02194,-46.24919 z')
				//- +map-i('')
	// end s-interactive-map